# === API envs ===
Auth__SecretKey=
Auth__Issuer=
Auth__Audience=
# Database envs
Database__DB_USER=
Database__DB_PASSWORD=
Database__DB_NAME=
Database__DB_HOST=
Database__DB_PORT=
# Admin user seed
Users__DefaultAdminEmail=
Users__DefaultAdminPassword=
# CORS envs
AllowedOrigins=

# === Frontend envs ===
VITE_APP_ENV=

# === Postgres envs ===
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=