Auth__SecretKey=
Auth__Issuer=
Auth__Audience=
Database__DB_USER=
Database__DB_PASSWORD=
Database__DB_NAME=
Database__DB_HOST=
Database__DB_PORT=
Users__DefaultAdminEmail=
Users__DefaultAdminPassword=
AllowedOrigins=